$btnSuccsee:linear-gradient(117deg, #52A8FD, #73CFFF);
$btnError:linear-gradient(117deg, #FF8079, #FEB48F);
$btnUsual:linear-gradient(117deg, #FF8079, #FEB48F);
$border:4px;
button{
    outline: none;
    border: none;
    cursor: pointer;
}
@mixin BtnFunction($msg:'Usual') {
    padding: 0 20px;
    min-width: 80px;
    height: 34px;
    border-radius: $border;
    font-weight: 400;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
    @if $msg ==''{
        color: #454545;
        background:$btnUsual;
    }
    @if $msg == "error"{
    color: #FFFFFF;
    background:$btnError;
    }
    @if $msg == "success"{
        background:$btnSuccsee;
        color: #FFFFFF;
    }
}