
html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li,
ol,
span,
img,
dl,
dt,
dd,
b,
input,
select,
textarea,
i,
em,
var,
strong,
center,
small,
big,
form,
table,
caption,
tr,
th,
td,
thead,
tbody,
del,
ins,
abbr {
  margin: 0;
  padding: 0;
}
body {
  font: 14px  Arial,;
  color: #333;
}
*{
  box-sizing: border-box;
}
html{
  font-size: 100px;
}
em,
i,
var {
  font-style: normal;
}
strong,
b {
  font-weight: 400;
}
li {
  list-style: none;
}
table {
  border-collapse: collapse;
}
a {
  text-decoration: none;
  color: #333;
}
/*低版本浏览器中 a标签嵌套img 会有不同颜色的边框*/
img {
  border: 0;
  vertical-align: middle;
}
input,
select,
textarea {
  outline: none;
}
input{
  border:none;
}
textarea {
  resize: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.tc {
  text-align: center;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.tc {
  text-align: center;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all .5s;
}
.ellipsis:hover {
  width: auto;
  text-overflow: inherit;
}
.nowrap {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.displayCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.displayColom{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.displayalign{
  display: flex;
  align-items: center;
}
.dispalyFlex{
  display: flex;
}
.dispalywrap{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.zujianBox{
  margin-right:19px ;
}
.tc{
  text-align: center;
}
.tr{
  text-align: right;
}
.disinb{
  display: inline-block;
}
.disinbl{
  display: block;
}
.line40{
  line-height: 40px;
}
.meiyiyetitle{
  font-size: 14px;
  font-family: Hiragino Sans GB;
  font-weight: normal;
  color: #454545;
}

.meiyiyetitle::before{
  content: "";
  margin-right: 8px;
  width: 15px;
  height: 15px;
  display: inline-block;
  background: url(../../assets/img/systemTitlemesa.png) center center;
  background-size: cover;
}
.noneIconTitle{
  font-size: 14px;
  font-family: Hiragino Sans GB;
  font-weight: normal;
  color: #454545;
}
.setTitle{
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #454545;
}
.setTitle::before{
  content: "";
  margin-right: 8px;
  width: 3px;
  height: 19px;
  background: linear-gradient(117deg, #52A8FD, #73CFFF);
  display: inline-block;
}
.titleBox{
  font-size: 14px;
  font-family: Hiragino Sans GB;
  font-weight: normal;
  color: #454545;
}
.mr20{
  margin-right: 20px;
}
.closeTitle{
  font-size: 18px;
  font-family: Hiragino Sans GB;
  font-weight: bold;
  color: #333333;
}
.closeIcon{
  width: 14px;
  height: 14px;
  background: #333333;
  background: url(../img/close.png) center center no-repeat;
  background-size:cover ;
}
textarea{
  width: 100%;
  border: 1px solid #DCDFE6;
  height: 100%;
  border-radius: 4px;
}
.pd10{
  padding:0 10px ;
}
.pd20{
  padding:0 20px ;
}
.pt20{
  padding: 20px 0;

}
.mr11{
  margin-right:11px ;
}
.mb20{
  margin-bottom: 20px;
}
.ml11{
  margin-left:11px;
}
.ml20{
  margin-left:20px;
}
.mr9{
  margin-right:9px ;
}
.fosi0{
  font-size: 0px;
}
.M{
  font-size: 16px;
  font-weight: normal;
  color: #454545;
}
.anniu{
  width: 19px;
  height: 19px;
  border: 1px solid #A9AFBD;
  border-radius: 50%;
  cursor: pointer;
}
.anniu:hover{
  border: 1px solid #5A9AF2;
}
.anniu.active{
  border: 1px solid #5A9AF2;
}
.dian{
  width: 9px;
  height: 9px;
  background: #A9AFBD;
  border-radius: 50%;
}
.anniu:hover .dian{
  background:#5A9AF2;
}
.dian.active{
  background:#5A9AF2;
}
.fosi14{
  font-size: 14px;
}
.inputBox{
  padding-right: 30px;
  height: 40px;
  -webkit-appearance: none;
  background-color: #FFF;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #DCDFE6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  width: 100%;
}
.noUser{
  user-select: none;
}
.juli{
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #599AF4;
}
.noneZican{
font-size: 0.24rem;
font-family: Hiragino Sans GB;
font-weight: normal;
color: #454545;
}
.displayJuCen{
  display: flex;
  justify-content: center;
}
.pofixCenter{
  position: fixed;
  width: 100%;
  top: 0;
  height: 100%;
  background: rgb(238,241,248);
  z-index: 111;
}
.heiderBoxs{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ECF1F7;
  border-bottom:1px solid#D1D6E2 ;
}
.flexBetWeen{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.p20{
  padding:16px 20px;
}
.quyupinmianBoxMsg{
  border: 1px solid #E1E6EB;
  border-radius: 3px;
}
.bkf{
  background: #ffffff;
}
.mt20{
  margin-top: 20px;
}
.botD1{
  border-bottom: 1px solid #D1D6E2;
}
/* 横线 */
.transverseLine{
  width: 1px;
  background: rgb(255,155,155);
  color: rgb(255, 96, 96);
  position: relative;
}
.transverseLine::before{
  content: " ";
  width: 7px;
  height: 1px;
  background: rgb(255,155,155);
  position: absolute;
  top: 0;
  left: -2.55px;
}
.transverseLine::after{
  content:" ";
  width: 7px;
  height: 1px;
  background: rgb(255,155,155);
  position: absolute;
  bottom: 0;
  left: -2.55px;
}

/* 竖线 */
.verticalLine{
  height:1px;
  background: rgb(255,155,155);
  color: rgb(255, 96, 96);
  position: relative;
}

.verticalLine::before{
  content: " ";
  width: 1px;
  height: 7px;
  background: rgb(255,155,155);
  position: absolute;
  left: 0;
  top: -2.55px;
}
.verticalLine::after{
  content: " ";
  width: 1px;
  height: 7px;
  background: rgb(255,155,155);
  position: absolute;
  right: 0;
  top: -2.55px;
}



