.ivu-btn-small {
    margin-left: 5px;
}

#app .line {
    background-color: #D1D6E2;
}
#app #headerMain .el-table__expand-icon--expanded {
    transform: rotate(180deg);
  }
  
#app #headerMain .el-table__expand-icon
.el-icon.el-icon-arrow-right::before {
    content: "+";
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.tableInInput .ivu-input {
    height: 26px !important;
}

.ivu-input {
    height: 34px !important;
}
 .el-icon-arrow-up:before {
    content: " ";
    transition: all 0.5s;
    display: inline-block;
    width: 11px;
    height: 8px;
    background: url(../svg/dropDown.svg) center center no-repeat;
    background-size: cover;
    transform: rotate(-180deg);
}

.el-icon-arrow-down:before {
    content: " ";
    transition: all 0.5s;
    display: inline-block;
    width: 11px;
    height: 8px;
    background: url(../svg/dropDown.svg) center center no-repeat;
    background-size: cover;
}


.el-message-box__status.el-icon-warning::before {
    content: " ";
}

.el-message-box__status.el-icon-info::before {
    content: " ";
}

.el-message-box__status.el-icon-success::before {
    content: " ";
}

.el-message-box__status.el-icon-error::before {
    content: " ";
}
.el-icon-info {
    width: 56px;
    height: 50px;
    background: url(../img/quit.png) no-repeat;
    background-size: cover;
}


.el-message-box__status.el-icon-warning {
    background: url(../img/shibais.png) center center no-repeat;
    width: 50px;
    height: 50px;
    margin-top: 80px;
    position: inherit;
}
.el-message-box__status.el-icon-success {
    width: 50px;
    height: 50px;
    margin-top: 80px;
    position: inherit;
}

.el-message-box__status.el-icon-info {
    width: 56px;
    height: 50px;
    margin-top: 80px;
    position: inherit;
}

.el-message-box__status.el-icon-error {
    width: 50px;
    height: 50px;
    margin-top: 80px;
    position: inherit;
}

.el-checkbox__inner {
    border-radius: 4px;
}

.el-tabs__item.is-top.is-active.is-closable .el-icon-close::before {
    content: "";
    background: url(../img/close.svg) center center no-repeat;
    background-size: cover;
    width: 10px;
    height: 10px;
}

#app #headerMain .el-table__expand-icon.el-table__expand-icon--expanded
.el-icon.el-icon-arrow-right::before {
    content: " ";
    display: inline-block;
    width: 8px;
    height: 2px;
    background: #2f4646;
    position: relative;
    top: -4px;
}
.el-message-box__container {
    text-align: center;
}

.el-message-box__status+.el-message-box__message {
    padding-left: 0;
    padding-right: 0;
}

.el-message-box {
    position: relative;
}

.el-message-box__btns {
    position: absolute;
    right: 10px;
    bottom: 20px;
}

.el-message-box__message {
    padding-bottom: 16px;
}
.el-message-box {
    width: 460px;
    height: 310px;
}
