
.el-message {
  width: 320px;
  height: 160px;
  background-color: #fff;
  border-radius: 2px;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.el-message__icon {
  margin-top: 32px;
  margin-bottom: 27px;
}
.el-message__icon::before{
  content: " ";
}
.el-message .el-message__content {
  color: #333333;
}
.el-message.el-message--error {
  border: 2px solid #ff6b69;
}
.el-icon-error {
  width: 50px;
  height: 50px;
  background: url(../img/shibai.png) center center no-repeat;
  background-size: cover;
}
.el-message.el-message--error {
  border: 2px solid #ff6b69;
}
.el-icon-error {
  background: url(../img/shibai.png) center center no-repeat;
  background-size: cover;
}
.el-message.el-message--success {
  border: 2px solid #5a9af2;
}
.el-icon-success {
  width: 50px;
  height: 50px;
  background: url(../img/success.png) center center no-repeat;
  background-size: cover;
}
.el-message.el-message--warning {
  border: 2px solid #f99f3f;
}
.el-icon-warning {
  width: 56px;
  height: 50px;
  background: url(../img/error.png) center center no-repeat;
  background-size: cover;
}
.el-message.el-message--info {
  border: 2px solid #5ac5f2;
}
.el-icon-info {
  width: 56px;
  height: 50px;
  background: url(../img/quit.png) no-repeat;
  background-size: cover;
}
.el-message-box {
  width: 460px;
  height: 310px;
}
.el-message-box__content {
  display: flex;
  flex-direction: column;
}
.el-message-box__container {
  text-align: center;
}
.el-message-box__status.el-icon-warning {
  background: url(../img/shibais.png) center center no-repeat;
  width: 50px;
  height: 50px;
  margin-top: 80px;
  position: inherit;
}
.el-message-box__status.el-icon-info {
  width: 56px;
  height: 50px;
  margin-top: 80px;
  position: inherit;
}
.el-select:hover .el-input__inner {
  border-color: #409EFF;
}
.el-message-box__btns {
  margin: -20px 20px 0px 0;  
}
.el-message-box__message {
  padding-bottom: 60px;
}
.el-message-box__status.el-icon-warning::before {
  content: " ";
}
.el-message-box__status.el-icon-info::before {
  content: " ";
}
.el-message-box__status+.el-message-box__message {
  padding-left: 0; 
  padding-right: 0;
}
.el-button--primary{
  color: #FFFFFF;
  background: linear-gradient(117deg, #52A8FD, #73CFFF);
}
.el-table__row--striped{
  background-color: #D1D6E2;
}
.el-input__inner{
  height: 34px;
}
.ivu-input{
  height: 34px!important;
}